#skill{
    min-height: 100vh;
}

#skill li{
    font-weight: 500;
}

#skill:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    background-color: #f8f9fa;
}
@media only screen and (min-width: 425px){
    #skill{
        padding-left: 3rem!important;
        padding-right: 3rem!important;
    }
}

